footer {
	border-top: 3px solid
}
#main_section {
	border-top: 3px solid
}
#link {
	border-top: 2px solid
}
#header {
	font-size: 20px;
}
#education {
	border: dotted;
	border-color: red; 
}
#experience {
	border: double;
	border-color: pink;
}
body {			
	max-width: 960px;
	margin: 10px auto;
	background-color: lightcoral;
	opacity: .7;
}
html { 
	background: url("ob.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}