footer {
	border-top: 3px solid
}
#header {
	border-top: 3px solid;
	font-size: 20px;
}
#link {
	border-top: 2px solid
}

#audio, #graphics, #form, #video {
	font-size: 18px;
}
table thead th, table tbody td, table tr td {
	display: table-cell;
    padding: 10px;
    vertical-align: top;
    text-align: left;
    border-top: 1px solid #e5e5e5;
}
table {
    display: table;
    background-color: white;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #e5e5e5;
}

body {			
	max-width: 960px;
	margin: 10px auto;
	background-color: lightcoral;
	opacity: .7;
}
html { 
	background: url("ob.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}