footer {
	border-top: 3px solid
}
#main_section {
	border-top: 3px solid
}
#link {
	border-top: 3px solid
}
#type_selector {
	color: red;
}

body {			
	max-width: 960px;
	margin: 10px auto;
	background-color: lightcoral;
	opacity: .7;
}
html { 
	background: url("ob.png") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}